<h1>Listing postes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @postes.each do |poste| %>
      <tr>
        <td><%= poste.title %></td>
        <td><%= poste.body %></td>
        <td><%= link_to 'Show', poste %></td>
        <td><%= link_to 'Edit', edit_poste_path(poste) %></td>
        <td><%= link_to 'Destroy', poste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poste', new_poste_path %>
