<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poste.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @poste.body %>
</p>

<%= link_to 'Edit', edit_poste_path(@poste) %> |
<%= link_to 'Back', postes_path %>
